* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Ubuntu";
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    font-weight: 500;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: "Ubuntu";
    font-weight: Bold;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

:root {
    --clr1: hsl(0, 0%, 100%);
    --clr2: hsl(231, 100%, 99%);
    --clr3: hsl(217, 100%, 97%);
    --clr4: hsl(229, 24%, 87%);
    --clr5: hsl(231, 11%, 63%);
    --clr6: hsl(206, 94%, 87%);
    --clr7: hsl(228, 100%, 84%);
    --clr8: hsl(243, 100%, 62%);
    --clr10: hsl(213, 96%, 18%);
    --danger: hsl(354, 84%, 57%);

}

.attribution {
    z-index: -5;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html,
input,
*::after,
*::before {
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: var(--clr3);
    height: 100vh;
    display: grid;
    place-items: center;

    main {
        display: flex;

        width: fit-content;
        box-shadow: 0 2rem 4rem 0.25rem rgba(0, 0, 0, 0.25);
        background: var(--clr2);
        padding: 1rem;
        border-radius: 0.5rem;

        #sidebar {
            background-image: url(./assets/images/bg-sidebar-desktop.svg);
            background-size: cover;
            padding: 3em 2em;
            border-radius: inherit;

            label {
                margin-bottom: 1em;
                display: grid;
                align-items: center;
                column-gap: 1em;
                grid-template-columns: 0.5fr 3fr;

                input {
                    width: 2em;
                    aspect-ratio: 1;
                    position: relative;
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                    background-color: none;
                    visibility: hidden;

                    &:nth-of-type(1)::after {
                        visibility: visible;

                        position: absolute;

                        top: 0;
                        left: 0;
                        inset: 0;

                        display: grid;
                        place-items: center;

                        color: var(--clr2);
                        font-weight: Bold;
                        border: 1px solid var(--clr3);
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    &:checked::after {
                        background-color: var(--clr6) !important;
                        color: var(--clr10)
                    }
                }

                &:nth-of-type(1) input::after {
                    content: "1";
                }

                &:nth-of-type(2) input::after {
                    content: "2";
                }

                &:nth-of-type(3) input::after {
                    content: "3";
                }

                &:nth-of-type(4) input::after {
                    content: "4";
                }

                p {
                    text-transform: uppercase;

                    color: var(--clr5);

                    grid-row: 1 / 2;
                    grid-column: 2 / 3;
                }

                h3 {
                    text-transform: uppercase;

                    color: var(--clr2);

                    grid-row: 2 / 3;
                    grid-column: 2 / 3;
                }

            }
        }


        form {
            padding: 1rem 5rem;
            width: 30rem;
            height: 30rem;
            position: relative;
            section {
                display: flex;
                flex-direction: column;
                h1 {
                    padding-top: 1em;
                    font-size: 2rem;
                    color: var(--clr10);
                }

                p {
                    margin-top: 0.5rem;
                    color: var(--clr5);
                }

                label {
                    position: relative;
                    display: block;
                    margin-top: 1.25rem;
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--clr10);

                    input {
                        box-sizing: border-box;
                        display: block;
                        margin-top: 0.5rem;
                        font-size: 1rem;
                        font-weight: 500;
                        width: 100%;
                        border-radius: 0.5rem;
                        padding: 1rem;
                        border: 1px solid var(--clr5);
                        color: var(--clr10);

                        &:focus {
                            outline: none;
                            border: 1px solid var(--clr10);
                        }
                    }
                }

            }
        }
    }
}

.card {
    padding: 1rem;
    width: 9rem;
    padding-top: 5rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr5);
    position: relative;
    cursor: pointer;

    input[type="radio"] {
        visibility: hidden;
    }

    input[type="radio"]:checked::after {
        visibility: visible;
        opacity: 1;
        content: "";
        border: 1px solid var(--clr8);
        border-radius: 0.5rem;
        position: absolute;
        inset: 0;

    }

    &:nth-of-type(1) {
        background: url(./assets/images/icon-arcade.svg) 1rem 1rem no-repeat;
    }

    &:nth-of-type(2) {
        background: url(./assets/images/icon-advanced.svg) 1rem 1rem no-repeat;
    }

    &:nth-of-type(3) {
        background: url(./assets/images/icon-pro.svg) 1rem 1rem no-repeat;
    }
}

#plan-list {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#month-year {
    display: grid;
    margin: 3rem auto;
    width: fit-content;
    gap: 2rem;

    span {
        width: fit-content;
        font-weight: bold;
        transition: 0.2s;
        grid-column: 1 / 2;
        &#year {
            color: var(--clr5);
            grid-column: 3 / 4;
        }
    }

    #month-year-check {
        width: fit-content;
        position: relative;
        visibility: hidden;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        &:checked {
            & ~ #month {
                color: var(--clr5);
            }
            & ~ #year {
                color: var(--clr10);
            }
            &::after {
                left: 100% !important;
            }
        }
    }

    #month-year-check::before {
        visibility: visible;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.5rem;
        height: 1.5rem;
        border-radius: 2rem;
        background-color: var(--clr10);
    }
    
    #month-year-check::after {
        visibility: visible;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        border-radius: 2rem;
        background-color: var(--clr1);
        transition: 0.2s;
    }
}

.btn.back {
    background-color: transparent;
    border: none;
    color: var(--clr5);
    right: auto;
    left: 1rem;
    bottom: 1rem;
    &:hover {
        color: var(--clr10);
        background: transparent;
    }
}

.bonus {
    color: var(--clr10);
    font-size: 0.9rem;
}

.btn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: fit-content;
    padding: 0.75rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 0;
    border-radius: 0.5rem;
    background-color: var(--clr10);
    color: var(--clr2);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: hsl(213, 95%, 30%);
    }
}

form>section:not(:nth-of-type(1)) {
    display: none;
}

#step-3 {
    label {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        padding: 1em;
        input {
            margin: 1rem;
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            width: 1.5rem; aspect-ratio: 1;
            &:checked::after {
                content: '';
                position: absolute;
                inset: 0;
                border: 1px solid var(--clr10);
                border-radius: 0.5rem;
            }
        }
        h4  {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }
        .title {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
        .add-on-price {
            grid-row: 1 / 3;
            grid-column: 3 / 4;

            color: var(--clr8);
        }
    }
}

#step-4 {
    #plan-cont {
        padding: 1rem;
        display: grid;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        row-gap: 0.5rem;
        color: var(--clr10);
        border-bottom: 0.5px solid var(--clr5);
        #plan-n-p {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        #plan-change {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            font-weight: 500;
            color: var(--clr8);
        }
        #plan-price {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
        }
    }
    #add-on-prices > * {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem;
    }
    #summary {
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #sum {
            color: var(--clr8);
            font-weight: bold;
            font-size: 1.5em;
        }
    }
}


#period {
    width: fit-content;
    color: var(--clr5);
}

#step-5 {
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    img {
        width: 5rem; aspect-ratio: 1;
    }
    p {
        margin-top: 1rem;
    }
}


@media (max-width: 950px) {
    main {
        flex-direction: column;
        width: 100%;
        padding: 0 !important;
        margin-top: 5rem;
        #sidebar {
            border-radius: 0 !important;
            top: 0;
            position: absolute;
            left: 0; right: 0;
            background-image: url(./assets/images/bg-sidebar-mobile.svg) !important;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            z-index: -1;
            label {
                display: block !important;
                p, h3 {
                    display: none;
                }
            }
        }
        form {
            position: static !important;
            box-sizing:content-box;
            padding: 1rem !important;
            width: 95% !important;
            height: fit-content !important;
            .sub-cont {
                border-radius: inherit;
            }
            #step-2 {
                #plan-list {
                    flex-direction: column;
                    .card {
                        display: grid;
                        background-size: 3rem;
                        width: 95%;
                        padding: 1rem;
                        box-sizing: border-box;
                        justify-content: space-between;
                        input {
                            grid-row: 1 / 3;
                            grid-column: 1 / 2;
                        }
                        h4 {
                            grid-row: 1 / 2;
                            grid-column: 2 / 3;
                        }
                        p {
                            grid-row: 2 / 3;
                            grid-column: 2 / 3;
                        }
                        .bonus {
                            grid-row: 3 / 4;
                            grid-column: 2 / 3;
                        }
                    }

                }
                #month-year {
                    margin: auto;
                    margin-top : 2rem;
                }
            }
            #step-3 {
                align-items: baseline;
                label {
                    border: 1px solid var(--clr4);
                }
            }
        }
    }
}

@media (max-width: 550px) {
    html {
        font-size: 14px;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 390px) {
    html {
        font-size: 10px;
    }
}